.add-reaction-emoji {
  fill: rgb(88, 96, 105);
  stroke: rgb(88, 96, 105);
  display: flex;
  align-items: center;
  font-size: 16px;
  cursor: pointer;
  outline: none;
}

.add-reaction-emoji:hover {
  fill: #0366d6;
  stroke: #0366d6;
}

a {
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

pre {
  overflow: scroll;
}

pre code {
  background: none;
}

code {
  background: rgb(248, 248, 248);
  font-size: 0.8em;
  padding: 2px 4px;
}

li p {
  margin: 0;
}
