@font-face {
  font-family: 'Hurme Geometric Sans';
  src: url('./assets/fonts/HurmeGeometricSans2-SemiBold.eot');
  src: url('./assets/fonts/HurmeGeometricSans2-SemiBold.eot?#iefix')
      format('embedded-opentype'),
    url('./assets/fonts/HurmeGeometricSans2-SemiBold.woff2') format('woff2'),
    url('./assets/fonts/HurmeGeometricSans2-SemiBold.woff') format('woff'),
    url('./assets/fonts/HurmeGeometricSans2-SemiBold.ttf') format('truetype'),
    url('./assets/fonts/HurmeGeometricSans2-SemiBold.svg#HurmeGeometricSans3-SemiBold')
      format('svg');
  font-weight: 600;
  font-style: normal;
}

body {
  font-family: 'Open Sans', sans-serif;
  color: #1a202c;
  @apply leading-loose;
}

h1,
h2,
h3,
h4,
h6 {
  font-family: 'Hurme Gemoetric Sans', sans-serif;
  font-weight: 600;
  font-style: normal;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
